
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .logo {
          text-align: center;
           margin: 20px auto; 
        }

        .logo img {
            width: 100px;
            height: auto; 
        }


        .rectangle {
            flex: 1;
            width: calc(33.33% - 20px); 
            background-color: #e11c4c; 
            padding: 20px;
            margin: 10px;
            border-radius: 15px; 
            text-align: center;
        }

        .rectangle h2 {
            font-size: 24px;
            font-weight: bold;
            color: white; 
        }

        .rectangle p {
            font-size: 18px;
            color: white; 
        }

        #chart-container {
            flex: 1;
            width: 100%;
        }

        .select-container {
            text-align: center;
        }

        .menu-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #000;
        color: white;
        border: none;
        border-radius: 20%;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

        .menu {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
            z-index: 2; 
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu li {
            padding: 10px 0;
        }

        .menu a {
            color: white;
            font-size: 20px;
            text-decoration: none;
            display: block;
            text-align: center;
        }
        .back-button {
            background-color: #000;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        .chart-container {
            flex: 1;
            width: 100%;
            margin: 20px;
            height: 300px;
        }
